[Desktop Entry]
Categories=Other;
Encoding=UTF-8
Exec=geany /home/dbtech/dbtech/diamantidis/pycharm/mvcc_remote/mvcc_tests.yml
Hidden=false
Icon=wxmedit
MimeType=Application/database
MultipleArgs=true
Name=Edit scenarios in yaml
Name[en_US]=Edit scenarios in yaml
Terminal=false
Type=Application
Comment=
Path=
StartupNotify=false
