[Desktop Entry]
Categories=PostgreSQL;
Encoding=UTF-8
Exec=x-terminal-emulator -title "PostgreSQL Scenarios" -e python /home/dbtech/dbtech/diamantidis/pycharm/mvcc_remote/mvcc.py postgres
Hidden=false
Icon=final-term
MimeType=Application/database
MultipleArgs=true
Name=Execute PostgreSQL Scenarios
Name[en_US]=Execute PostgreSQL Scenarios
Name[ja]=データベースの起動
Name[pt_BR]=Iniciar Banco de Dados
Name[zh_CN]=启动数据库
Terminal=false
Type=Application
GenericName=Execute PostgreSQL Scenarios
