[Desktop Entry]
Categories=SQLServer;
Encoding=UTF-8
Exec=x-terminal-emulator -title "SQLServer Scenarios" -e python /home/dbtech/dbtech/diamantidis/pycharm/mvcc_remote/mvcc.py sqlserver
Hidden=false
Icon=final-term
MimeType=Application/database
MultipleArgs=true
Name=Execute SQLServer Scenarios
Name[en_US]=Execute SQLServer Scenarios
Name[ja]=データベースの起動
Name[pt_BR]=Iniciar Banco de Dados
Name[zh_CN]=启动数据库
Terminal=false
Type=Application
GenericName=Execute SQLServer Scenarios
